<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/css/table_style.css" type="text/css">
    <link rel="stylesheet" href="/web/css/field_style.css" type="text/css">
    <link rel="stylesheet" href="/web/css/employee/column_style.css" type="text/css">
    <title>Список каталогов</title>
</head>
<body>

<h1>Добавить информацию в каталог</h1>
<form method="POST" action="/fgw/catalogs/add">
    <label>
        ИД родительской записи:
        <input type="number" name="parentId" placeholder="0">
        (заполняется для справочника (10) строчки при наличии склада)
    </label>
    <br>
    <label>
        Номер справочника:
        <select name="handbookId">
            {{ range .Handbooks}}
                <option value="{{ .IdHandbook}}">{{ .IdHandbook}} - {{ .Name}}</option>
            {{ end}}
        </select>
    </label>
    <br>
    <label>
        Название:
        <input type="text" name="name">
    </label>
    <br>
    <label>
        Комментарий:
        <input type="text" name="comment">
    </label>
    <br>
    <label>
        Поле справочника (0, 1, 3, 4, 5, 9, 10):
        <input type="number" name="handbookValueInt1" placeholder="0">
    </label>
    <br>
    <label>
        Доп. поле справочника (0, 1, 3, 4, 5, 9, 10):
        <input type="number" name="handbookValueInt2" placeholder="0">
    </label>
    <br>
    <label>
        Поле справочника (10) возможный процент использования:
        <input type="number" name="handbookValueDecimal1" step="0.01" placeholder="0.00">
    </label>
    <br>
    <label>
        Доп. поле справочника (10) вместимость, S, V:
        <input type="number" name="handbookValueDecimal2" step="0.01" placeholder="0.00">
    </label>
    <br>
    <label>
        Поле справочника (9) переупаковка да/нет:
        <input type="checkbox" name="handbookValueBool1">
    </label>
    <br>
    <label>
        Доп. поле справочника (10) наличие ЖД путей да/нет:
        <input type="checkbox" name="handbookValueBool2">
    </label>
    <br>
    <label>
        Архивная запись:
        <input type="checkbox" name="isArchive">
    </label>
    <br>
    <input type="submit" value="Добавить">
</form>
<br>

<form method="GET" action="/fgw/catalogs">
    <label for="handbook-filter">Фильтр по справочнику:</label>
    <label>
        <select name="handbookId">
            <option value=""
                    {{ if ne .SelectedHandbookId -1 }}selected{{ end }}>
                Показать всё
            </option>
            {{ $filteredIdParamId := .SelectedHandbookId }}
            {{ range $.Handbooks }}
                <option value="{{ .IdHandbook }}"
                        {{ if eq .IdHandbook $filteredIdParamId }}selected{{ end }}>
                    {{ .IdHandbook }} - {{ .Name }}
                </option>
            {{ end }}
        </select>
    </label>
    <button type="submit">Применить фильтр</button>
</form>

<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th>ИД</th>
            <th>ИД родительской записи</th>
            <th>Номер справочника</th>
            <th>Индекс записи</th>
            <th>Название</th>
            <th>Комментарий</th>
            <th>Поле справочника (0, 1, 3, 4, 9, 10)</th>
            <th>Доп. поле справочника (0, 1, 3, 4, 9, 10)</th>
            <th>Поле справочника (10) возможный процент использования</th>
            <th>Доп. поле справочника (10) вместимость, S, V</th>
            <th>Поле справочника (9) переупаковка да/нет</th>
            <th>Доп. поле справочника (10) наличие ЖД путей да/нет</th>
            <th>Архивная запись</th>
            <th>Код владельца записи</th>
            <th>Дата модификации</th>
            <th>Код пользователя</th>
            <th>Дата последней модификации</th>
            <th>Панель управления операциями</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Catalogs}}
            <tr>
                {{if .IsEditing}}
                    <form method="POST" action="/fgw/catalogs/update">
                        <td>{{ .IdCatalog}}</td>
                        <td><label>
                                <input type="number" name="parentId" value="{{ .ParentId}}">
                            </label>
                        </td>

                        <td>
                            <label>
                                <select name="handbookId">
                                    {{ $catalog := . }}
                                    {{ range $.Handbooks }}
                                        <option value="{{ .IdHandbook}}"
                                                {{ if eq .IdHandbook $catalog.HandbookId }}selected{{ end}}>{{ .IdHandbook}}
                                            - {{ .Name}}</option>
                                    {{ end}}
                                </select>
                            </label>
                        </td>

                        <td><label>
                                <input type="number" name="recordIndex" value="{{ .RecordIndex}}">
                            </label>
                        </td>
                        <td><label>
                                <input type="text" name="name" value="{{ .Name}}">
                            </label>
                        </td>
                        <td><label>
                                <input type="text" name="comment" value="{{ .Comment}}">
                            </label>
                        </td>
                        <td><label>
                                <input type="number" name="handbookValueInt1" value="{{ .HandbookValueInt1}}">
                            </label>
                        </td>
                        <td><label>
                                <input type="number" name="handbookValueInt2" value="{{ .HandbookValueInt2}}">
                            </label>
                        </td>
                        <td><label>
                                <input type="number" name="handbookValueDecimal1" step="0.01"
                                       value="{{ .HandbookValueDecimal1}}">
                            </label>
                        </td>
                        <td><label>
                                <input type="number" name="handbookValueDecimal2" step="0.01"
                                       value="{{ .HandbookValueDecimal2}}">
                            </label>
                        </td>
                        <td><label>
                                <input type="checkbox" name="handbookValueBool1" value="true"
                                       {{ if .HandbookValueBool1 }}checked{{ end }}>
                            </label></td>
                        <td><label>
                                <input type="checkbox" name="handbookValueBool2" value="true"
                                       {{ if .HandbookValueBool2 }}checked{{ end }}>
                            </label>
                        </td>
                        <td><label>
                                <input type="checkbox" name="isArchive" value="true"
                                       {{ if .IsArchive }}checked{{ end }}>
                            </label>
                        </td>
                        <td>{{ .AuditRecord.OwnerUser}}</td>
                        <td>{{ formatDateTime .AuditRecord.OwnerUserDateTime}}</td>
                        <td>{{ .AuditRecord.LastUser}}</td>
                        <td>{{ formatDateTime .AuditRecord.LastUserDateTime}}</td>
                        <td>
                            <input type="hidden" name="idCatalog" value="{{ .IdCatalog}}">
                            <input type="submit" value="Сохранить">
                        </td>
                    </form>
                {{else}}
                    <td>{{ .IdCatalog}}</td>
                    <td>{{ .ParentId}}</td>
                    <td>{{ .HandbookId}}</td>
                    <td>{{ .RecordIndex}}</td>
                    <td>{{ .Name}}</td>
                    <td>{{ .Comment}}</td>
                    <td>{{ .HandbookValueInt1}}</td>
                    <td>{{ .HandbookValueInt2}}</td>
                    <td>{{ .HandbookValueDecimal1}}</td>
                    <td>{{ .HandbookValueDecimal2}}</td>
                    <td>{{ .HandbookValueBool1}}</td>
                    <td>{{ .HandbookValueBool2}}</td>
                    <td>{{ .IsArchive}}</td>
                    <td>{{ .AuditRecord.OwnerUser}}</td>
                    <td>{{ formatDateTime .AuditRecord.OwnerUserDateTime}}</td>
                    <td>{{ .AuditRecord.LastUser}}</td>
                    <td>{{ formatDateTime .AuditRecord.LastUserDateTime}}</td>
                    <td>
                        <a href="/fgw/catalogs/update?idCatalog={{ .IdCatalog}}">Изменить</a>
                        <form method="POST" action="/fgw/catalogs/delete" style="display:inline;">
                            <input type="hidden" name="idCatalog" value="{{ .IdCatalog}}">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                {{end}}
            </tr>
        {{ end}}
        </tbody>
    </table>
</div>
</body>
</html>