<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/css/table_style.css" type="text/css">
    <link rel="stylesheet" href="/web/css/field_style.css" type="text/css">
    <link rel="stylesheet" href="/web/css/employee/column_style.css" type="text/css">
    <script src="/web/js/validator.js"></script>
    <title>Список сотрудников</title>
</head>
<body>
<h1>Добавить нового сотрудника</h1>
<form id="employeeForm" method="POST" action="/fgw/employees/add">
    <label>
        Имя:
        <input type="text" name="firstName" required>
        <span class="error" id="firstName-error"></span>
    </label>
    <label>
        Фамилия:
        <input type="text" name="lastName" required>
        <span class="error" id="lastName-error"></span>
    </label>
    <label>
        Отчество:
        <input type="text" name="patronymic" required>
        <span class="error" id="patronymic-error"></span>
    </label>
    <label>
        Пароль:
        <input type="password" name="passwd" required>
        <span class="error" id="passwd-error"></span>
    </label>
    <label>
        Роль:
        <select name="roleId">
            {{ range .Roles }}
                <option value="{{ .IdRole }}">{{ .Name }}</option>
            {{ end }}
        </select>
    </label>

    <input type="submit" value="Добавить">
</form>
<br>

<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th>ИД</th>
            <th class="serviceName" >Табельный номер</th>
            <th class="firstName">Имя</th>
            <th class="lastName">Фамилия</th>
            <th class="patronymic">Отчество</th>
            <th class="passwd">Пароль</th>
            <th class="roleId">Роль</th>
            <th>Код владельца записи</th>
            <th>Дата модификации</th>
            <th>Код пользователя</th>
            <th>Дата последней модификации</th>
            <th>Панель управления операциями</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Employees}}
            <tr id="employee_{{ .IdEmployee}}">
                <td>{{ .IdEmployee}}</td>
                {{if .IsEditing}}
                    <form id="employeeForm" method="POST" action="/fgw/employees/update">
                        <td><label>
                                <input style="width: 40px;" type="text" name="serviceNumber" value="{{ .ServiceNumber}}" required>
                            </label>
                        </td>
                        <td><label>
                                <input style="width: 130px;" type="text" name="firstName" value="{{ .FirstName}}" required>
                                <span class="error" id="firstName-error"></span>
                            </label>
                        </td>
                        <td><label>
                                <input style="width: 130px;" type="text" name="lastName" value="{{ .LastName}}" required>
                                <span class="error" id="lastName-error"></span>
                            </label>
                        </td>
                        <td><label>
                                <input style="width: 130px;" type="text" name="patronymic" value="{{ .Patronymic}}" required>
                                <span class="error" id="patronymic-error"></span>
                            </label>
                        </td>
                        <td><label>
                                <input style="width: 130px;" type="text" name="passwd" value="{{ .Passwd}}" required>
                                <span class="error" id="passwd-error"></span>
                            </label>
                        </td>
                        <td>
                            <label>
                                <select name="roleId">
                                    {{ $employee := . }}
                                    {{ range $.Roles }}
                                        <option value="{{ .IdRole }}"
                                                {{ if eq .IdRole $employee.RoleId }}selected{{ end }}>{{ .Name }}</option>
                                    {{ end }}
                                </select>
                            </label>
                        </td>
                        <td>{{ .AuditRecord.OwnerUser}}</td>
                        <td>{{ formatDateTime .AuditRecord.OwnerUserDateTime}}</td>
                        <td>{{ .AuditRecord.LastUser}}</td>
                        <td>{{ formatDateTime .AuditRecord.LastUserDateTime}}</td>
                        <td>
                            <input type="hidden" name="idEmployee" value="{{ .IdEmployee}}">
                            <input type="submit" value="Сохранить">
                        </td>
                    </form>
                {{ else}}
                    <td>{{ .ServiceNumber}}</td>
                    <td>{{ .FirstName}}</td>
                    <td>{{ .LastName}}</td>
                    <td>{{ .Patronymic}}</td>
                    <td>{{ .Passwd}}</td>
                    <td>
                        {{ $employee := . }}
                        {{ range $.Roles }}
                            {{ if eq .IdRole $employee.RoleId }}
                                {{ .Name }}
                            {{ end }}
                        {{ end }}
                    </td>
                    <td>{{ .AuditRecord.OwnerUser}}</td>
                    <td>{{ formatDateTime .AuditRecord.OwnerUserDateTime}}</td>
                    <td>{{ .AuditRecord.LastUser}}</td>
                    <td>{{ formatDateTime .AuditRecord.LastUserDateTime}}</td>
                    <td>
                        <a href="/fgw/employees?idEmployee={{ .IdEmployee}}#employee_{{ .IdEmployee}}">Изменить</a>
                        <form method="POST" action="/fgw/employees/delete" style="display:inline;">
                            <input type="hidden" name="idEmployee" value="{{ .IdEmployee}}">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                {{ end}}
            </tr>
        {{ end}}
        </tbody>
    </table>
</div>
</body>
</html>