<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/css/table_style.css" type="text/css">
    <link rel="stylesheet" href="/web/css/field_style.css" type="text/css">
    <script src="/web/js/validator.js"></script>
    <title>Список ролей сотрудника</title>
</head>
<body>

<h2>Добавить роль сотрудника</h2>
<form id="addRoleForm" action="/fgw/roles/add" method="POST">
    <label>
        Номер роли:
        <input type="number" name="number" placeholder="Введите номер роли" >
        <span class="error" id="number-error"></span>
    </label>

    <label>
        Название роли:
        <input type="text" name="name" placeholder="Введите название роли">
        <span class="error" id="name-error"></span>
    </label>
    <input type="submit" value="Добавить">
</form>


<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th>ИД</th>
            <th>Номер</th>
            <th>Название</th>
            <th>Код владельца записи</th>
            <th>Дата модификации</th>
            <th>Код пользователя</th>
            <th>Дата последней модификации</th>
            <th>Панель управления операциями</th>
        </tr>
        </thead>
        <tbody>
        {{range .Roles}}
            <tr id="role_{{ .IdRole }}">
                <td>{{ .IdRole}}</td>
                {{ if .IsEditing}}
                    <form method="POST" action="/fgw/roles/update">
                        <td><label>
                                <input type="text" name="number" value="{{ .Number}}">
                            </label>
                        </td>
                        <td><label>
                                <input type="text" name="name" value="{{ .Name}}">
                            </label>
                        </td>
                        <td>{{ .AuditRecord.OwnerUser}}</td>
                        <td>{{ .AuditRecord.OwnerUserDateTime}}</td>
                        <td>{{ .AuditRecord.LastUser}}</td>
                        <td>{{ .AuditRecord.LastUserDateTime}}</td>
                        <td>
                            <input type="hidden" name="idRole" value="{{ .IdRole}}">
                            <input type="submit" value="Сохранить">
                        </td>
                    </form>
                {{ else}}
                    <td>{{ .Number}}</td>
                    <td>{{ .Name}}</td>
                    <td>{{ .AuditRecord.OwnerUser}}</td>
                    <td>{{ .AuditRecord.OwnerUserDateTime}}</td>
                    <td>{{ .AuditRecord.LastUser}}</td>
                    <td>{{ .AuditRecord.LastUserDateTime}}</td>
                    <td>
                        <a href="/fgw/roles?idRole={{ .IdRole }}#role_{{ .IdRole }}">Изменить</a>
                        <form method="POST" action="/fgw/roles/delete" style="display:inline;">
                            <input type="hidden" name="idRole" value="{{ .IdRole}}">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                {{ end}}
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>